.app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.controls-panel {
	width: 200px;
	margin: 10px;
}

.toggle-panel {
}

.examples-panel {
}

.canvas-panel {
	width: 99%;
	height: 100%;
	position: relative;
}
